@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: 'Raleway', sans-serif;
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

main {
  margin: auto;
  position: relative;
}

header .title-logo {
  width: 100%;
}

header img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.158);
  border-top: 3px solid rgba(128, 128, 128, 0.315);
  border-bottom: 1px solid rgba(128, 128, 128, 0.144);
  height: 50px;
  margin-top: 2%;
  margin-right: -20px;
}

header .location .fa-map-marker-alt {
  margin-right: 10px;
}

header .location p {
  font-size: 21px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.815);
  margin-right: 10px;
}

.menu__btn {
  width: 2rem;
  height: 2rem;
  border: transparent 0px solid;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}

.menu__btn:hover::before {
  opacity: 1;
}

.menu__btn::before {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(0deg, #9356DC, #FF79DA 100%);
}

.menu__coeur {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: lighten;
}

.menu__btn:hover .menu__coeur--nobackground {
  opacity: 0;
}

footer {
  background-color: rgba(0, 0, 0, 0.774);
}

footer .block-footer {
  margin-left: 30px;
}

footer .block-footer h3 {
  font-family: Shrikhand;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
}

footer .block-footer ul {
  padding-bottom: 40px;
}

footer .block-footer ul li {
  margin-top: 10px;
  list-style: none;
}

footer .block-footer ul li .fa-utensils, footer .block-footer ul li .fa-hands-helping {
  padding-right: 10px;
  color: #fff;
}

footer .block-footer ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

@-webkit-keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes loading {
  from {
    opacity: 1;
    z-index: 10;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loading {
  from {
    opacity: 1;
    z-index: 10;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 10px;
  }
}

.loading_page {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-animation: loading 3s ease-in-out;
          animation: loading 3s ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loader {
  background-color: rgba(78, 78, 78, 0.808);
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
}

.loader div {
  position: absolute;
  top: 45vh;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  -webkit-animation: loader 2.5s linear forwards;
          animation: loader 2.5s linear forwards;
}

.loader div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: #FF79DA;
}

@media (min-width: 375px) {
  .block-header, .block-header a, .restaurants .resto .img-nouveau p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block-header {
    background-color: rgba(128, 128, 128, 0.11);
    padding-bottom: 70px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-header h1 {
    text-align: center;
    padding-top: 35px;
    font-size: 30px;
    font-weight: 700;
  }
  .block-header p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.897);
  }
  .block-header a {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 100px;
    text-decoration: none;
    color: white;
    background-color: #686868;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background-image: linear-gradient(0deg, #9356DC, #FF79DA 100%);
    cursor: pointer;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    padding: 1.66rem 3.1rem;
    margin-top: 40px;
  }
  .block-header a:hover {
    background-color: white;
    -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }
  .block-header a a {
    text-decoration: none;
    color: inherit;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
  }
  nav h2 {
    font-weight: 800;
    font-size: 35px;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 340px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 30px;
    -webkit-box-shadow: 7px 10px 10px rgba(128, 128, 128, 0.178);
            box-shadow: 7px 10px 10px rgba(128, 128, 128, 0.178);
    background-color: rgba(128, 128, 128, 0.062);
    margin-top: 25px;
  }
  nav ul:hover {
    background-color: #9256dc28;
    cursor: pointer;
  }
  nav ul:hover .color {
    color: #9356DC;
  }
  nav ul li {
    padding-right: 30px;
  }
  nav ul li span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #9356DC;
    border-radius: 50%;
    background-color: #9356DC;
    margin-left: -10px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    font-weight: 600;
  }
  nav ul li .color {
    font-size: 20px;
  }
  nav ul li h3 {
    font-size: 18px;
    font-weight: 700;
  }
  .restaurant-lists {
    background-color: rgba(128, 128, 128, 0.096);
    width: 100%;
    padding-bottom: 20px;
  }
  .restaurants {
    margin-top: 80px;
    padding-top: 10px;
    margin-left: 20px;
  }
  .restaurants h3 {
    font-size: 35px;
    font-weight: 800;
    padding: 40px 20px 4px 0px;
  }
  .restaurants .resto {
    margin-top: 20px;
  }
  .restaurants .resto .img-nouveau {
    position: relative;
  }
  .restaurants .resto .img-nouveau p {
    color: #2b7c30;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    width: 100px;
    height: 40px;
    border: 1px solid rgba(0, 128, 0, 0.39);
    background-color: #99e2d0;
    top: 15px;
    left: 222px;
  }
  .restaurants .resto img {
    width: 95%;
    height: 220px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .restaurants .resto .img-height {
    width: 95%;
    height: 220px;
    -o-object-position: 0% 63%;
       object-position: 0% 63%;
  }
  .restaurants .resto .description-resto {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    width: 95%;
    height: 80px;
    padding: 10px 30px 0px 10px;
  }
  .restaurants .resto .description-resto .title-resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurants .resto .description-resto p {
    font-size: 18px;
    font-weight: 400;
  }
  .restaurants .resto .description-resto h4 {
    margin-top: -5px;
    font-size: 20px;
    font-weight: 800;
  }
  .restaurants .resto .description-resto .fa-heart {
    background-color: white;
  }
}

@media (min-width: 992px) {
  .block-header p {
    font-size: 23px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    margin-left: 5%;
  }
  nav .choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 5%;
  }
  nav h2 {
    font-weight: 800;
    font-size: 35px;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 400px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 30px;
    -webkit-box-shadow: 7px 10px 10px rgba(128, 128, 128, 0.178);
            box-shadow: 7px 10px 10px rgba(128, 128, 128, 0.178);
    background-color: rgba(128, 128, 128, 0.062);
    margin-top: 25px;
  }
  nav ul:hover {
    background-color: #9256dc28;
    cursor: pointer;
  }
  nav ul:hover .color {
    color: #9356DC;
  }
  nav ul li {
    padding-right: 30px;
  }
  nav ul li span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #9356DC;
    border-radius: 50%;
    background-color: #9356DC;
    margin-left: -10px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    font-weight: 600;
  }
  nav ul li .color {
    font-size: 20px;
  }
  nav ul li h3 {
    font-size: 23px;
    font-weight: 700;
  }
  .restaurant-lists {
    background-color: rgba(128, 128, 128, 0.096);
    width: 100%;
    padding-bottom: 30px;
  }
  .restaurants {
    margin-top: 80px;
    padding-top: 10px;
    margin-left: 5%;
  }
  .restaurants .choice-resto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px 2em;
  }
  .restaurants h3 {
    font-size: 35px;
    font-weight: 800;
    padding: 40px 20px 4px 0px;
  }
  .restaurants .resto {
    margin-top: 20px;
  }
  .restaurants .resto:hover {
    cursor: pointer;
  }
  .restaurants .resto .img-nouveau {
    position: relative;
  }
  .restaurants .resto .img-nouveau p {
    color: #2b7c30;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    width: 100px;
    height: 40px;
    border: 1px solid rgba(0, 128, 0, 0.39);
    background-color: #99e2d0;
    top: 15px;
    left: 520px;
  }
  .restaurants .resto img {
    width: 90%;
    height: 280px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .restaurants .resto .img-height {
    width: 90%;
    height: 280px;
    -o-object-position: 0% 63%;
       object-position: 0% 63%;
  }
  .restaurants .resto .description-resto {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    width: 90%;
    height: 80px;
    padding: 10px 30px 0px 10px;
  }
  .restaurants .resto .description-resto .title-resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurants .resto .description-resto p {
    font-size: 18px;
    font-weight: 400;
  }
  .restaurants .resto .description-resto h4 {
    margin-top: -5px;
    font-size: 20px;
    font-weight: 800;
  }
  .restaurants .resto .description-resto .fa-heart {
    background-color: white;
  }
  footer {
    background-color: rgba(0, 0, 0, 0.774);
  }
  footer .block-footer {
    margin-left: 5%;
    margin-right: 5%;
  }
  footer .block-footer h3 {
    font-family: Shrikhand;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
  }
  footer .block-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
  }
  footer .block-footer ul li {
    margin-top: 10px;
    list-style: none;
  }
  footer .block-footer ul li .fa-utensils, footer .block-footer ul li .fa-hands-helping {
    padding-right: 10px;
    color: #fff;
  }
  footer .block-footer ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
}

@media screen and (min-width: 700px) and (max-width: 992px) {
  nav .choice, nav h2, nav ul, .restaurants .resto .img-nouveau p, footer .block-footer h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    margin-left: 0%;
  }
  nav .choice {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 0%;
    margin-top: 15px;
  }
  nav h2 {
    font-weight: 800;
    font-size: 35px;
  }
  nav ul {
    list-style: none;
    text-align: center;
    width: 400px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 30px;
    -webkit-box-shadow: 7px 10px 10px rgba(128, 128, 128, 0.178);
            box-shadow: 7px 10px 10px rgba(128, 128, 128, 0.178);
    background-color: rgba(128, 128, 128, 0.062);
    margin-top: 45px;
  }
  nav ul:hover {
    background-color: #9256dc28;
    cursor: pointer;
  }
  nav ul:hover .color {
    color: #9356DC;
  }
  nav ul li {
    padding-right: 30px;
  }
  nav ul li span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #9356DC;
    border-radius: 50%;
    background-color: #9356DC;
    margin-left: -10px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    font-weight: 600;
  }
  nav ul li .color {
    font-size: 20px;
  }
  nav ul li h3 {
    font-size: 23px;
    font-weight: 700;
  }
  .restaurant-lists {
    background-color: rgba(128, 128, 128, 0.096);
    width: 100%;
    padding-bottom: 20px;
  }
  .restaurants {
    margin-top: 80px;
    padding-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .restaurants .choice-resto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px 2em;
  }
  .restaurants h3 {
    font-size: 35px;
    font-weight: 800;
    padding: 40px 20px 4px 0px;
  }
  .restaurants .resto {
    margin-top: 20px;
  }
  .restaurants .resto:hover {
    cursor: pointer;
  }
  .restaurants .resto .img-nouveau {
    position: relative;
  }
  .restaurants .resto .img-nouveau p {
    color: #2b7c30;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    width: 100px;
    height: 40px;
    border: 1px solid rgba(0, 128, 0, 0.39);
    background-color: #99e2d0;
    top: 15px;
    left: 190px;
  }
  .restaurants .resto img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .restaurants .resto .img-height {
    width: 100%;
    height: 200px;
    -o-object-position: 0% 63%;
       object-position: 0% 63%;
  }
  .restaurants .resto .description-resto {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    width: 100%;
    height: 80px;
    padding: 10px 30px 0px 10px;
  }
  .restaurants .resto .description-resto .title-resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurants .resto .description-resto p {
    font-size: 18px;
    font-weight: 400;
  }
  .restaurants .resto .description-resto h4 {
    margin-top: -5px;
    font-size: 20px;
    font-weight: 800;
  }
  .restaurants .resto .description-resto .fa-heart {
    background-color: white;
  }
  footer {
    background-color: rgba(0, 0, 0, 0.774);
  }
  footer .block-footer {
    margin-left: 5%;
    margin-right: 5%;
  }
  footer .block-footer h3 {
    font-family: Shrikhand;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
  }
  footer .block-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
  }
  footer .block-footer ul li {
    margin-top: 10px;
    list-style: none;
  }
  footer .block-footer ul li .fa-utensils, footer .block-footer ul li .fa-hands-helping {
    padding-right: 10px;
    color: #fff;
  }
  footer .block-footer ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
}
/*# sourceMappingURL=main.css.map */